aiogram
environs
redis
betterlogging
python-json-logger
boto3
ydb
aiogram-calendar

# # For enabling api:
backoff
ujson
yarl

# # For PostgreSQL sqlalchemy + alembic:
#sqlalchemy
#alembic~=1.0
#asyncpg

typing_extensions
aiohttp
yarl~=1.9
# pytest